@model DataModel.Modal.UserDetail
@{var userRoles = (List<CustomAuthentication.Role>)ViewData["UserRoles"];  }
@{var offices = (List<DataModel.Modal.Office>)ViewData["Offices"]; }
@{var currentUser = (DataModel.Modal.UserDetail)ViewData["UserDetail"];  }

<form action="#" method="post">
    <input type="hidden" id="txtUserID" value="@Model.UserId" />
    <input type="hidden" id="userOfficesID" value="@(Model.Offices == null ? "0" :string.Join(",",Model.Offices.Select(model => model.OfficeId).ToArray()))" />
    <input type="hidden" id="userRoleID" value="@(string.Join(",",Model.User.Roles.Select(model => model.RoleId.ToString()).ToArray<string>()))" />
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <p class="bg-danger" id="divCommonMessage">User Email ID already used.</p>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="FirstName">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="txtUserFirstName" value="@Model.User.FirstName" placeholder="First Name" />
                    </div>
                    <div class="col-sm-6">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="txtUserLastName" value="@Model.User.LastName" placeholder="Last Name" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="EmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="txtUserEmailAddress" placeholder="Email Address" value="@Model.User.Email" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="">Profile Picture</label>
                        <input type="file" class="filestyle" name="image" data-buttontext="Find file" data-buttonname="btn-danger" data-iconname="fa fa-plus" id="myFile" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                        <div class="bootstrap-filestyle input-group">
                            <input type="text" class="form-control " disabled="" id="txtFileName">
                            <span class="group-span-filestyle input-group-btn" tabindex="0">
                                <label for="myFile" class="btn btn-danger ">
                                    <span class="filestyleicon fa fa-plus"></span>Find file
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @if (Model.UserId != currentUser.UserId)
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="SelectUserRole">Select User Role</label>
                            <select class="form-control" id="dwnUserRoles">
                                @foreach (var role in userRoles)
                                {
                                    <option value="@role.RoleId">@role.RoleName</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    if (offices != null && offices.Count > 0)
                    {
                        <div class="form-group divOfficeListContainer">
                            <div class="col-sm-12">
                                <label for="SelectUserRole">Select Office</label>
                                <select class="form-control" id="dwnOfficeList" multiple data-placeholder="Choose a Office">
                                    <option value="-1">Select Office</option>
                                    @foreach (var office in offices)
                                    {
                                        <option value="@office.OfficeId">@office.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAddUser">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>