@model  DataModel.Modal.UserDetail

<div id="header" class="page-navbar header-fixed">
    <a href="/" class="navbar-brand collapse-sidebar">
        <img src="~/Content/Images/Common/logosm.png" class="logo hidden-xs" alt="Dynamic logo">
        <img src="~/Content/Images/Common/logosm.png" class="logo-sm hidden-lg hidden-md" alt="Dynamic logo">
    </a>
    <div id="navbar-no-collapse" class="navbar-no-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("", "Home")"><i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="@Url.Action("", "Calender")"><i class="fa fa-calendar"></i>&nbsp;Calender</a>
            </li>
            <li>
                <a href="#"><i class="icon-ecommerce-receipt"></i>&nbsp;Reports</a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fi-plus"></i>
                </a>
                <ul class="dropdown-menu right dropdown-notification animated bounceIn" role="menu">
                    @if (Model.User.Roles.Any(model => new List<int> { 1 }.Contains(model.RoleId)))
                    {
                        <li>
                            <a url="@Url.Action("Add", "Conventions")" id="lnkAddConventions" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-group"></i>Convention</a>
                        </li>
                    }
                    @if (Model.User.Roles.Any(model => new List<int> { 1, 2 }.Contains(model.RoleId)))
                    {
                        <li>
                            <a url="@Url.Action("Add", "Users")" id="lnkAddUser" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-user-plus"></i>User</a>
                        </li>
                        <li>
                            <a url="@Url.Action("Add", "Offices")" id="lnkAddOffice" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-bank"></i>Office</a>
                        </li>
                        <li>
                            <a url="@Url.Action("Add", "Tasks")" id="lnkAddTasks" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-tasks"></i>Task</a>
                        </li>
                        <li>
                            <a url="@Url.Action("Add", "Events")" id="lnkAddEvents" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-th-list"></i>Event</a>
                        </li>
                    }
                    <li>
                        <a url="@Url.Action("Add", "Audiences")" id="lnkAddAudiences" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-group"></i>Audience</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="avatar" href="#" url="@Url.Action("Edit", "Users", new { id = Model.UserId })" id="lnkUpdateUserDetail"><img class='img-responsive pull-left' src="@(Model.FileResource == null ? Url.Content("~/Content/Images/Common/avatar.png") : Url.Content(Model.FileResource.path) )" alt="av avatar"> @Model.User.FirstName @Model.User.LastName</a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <span class="sr-only">Settings</span>
                </a>
                <ul class="dropdown-menu dropdown-form dynamic-settings right animated bounceIn" role="menu">
                    <li>
                        <a href="#" class="dropdown-menu-header">@Model.User.FirstName @Model.User.LastName</a>
                    </li>
                    <li>
                        <a url="@Url.Action("ChangePassword", "Users")" id="lnkChangePassword" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-lock"></i>Change Password</a>
                    </li>
                    @*<li>
                        <a url="@Url.Action("DateDuration", "Users")" id="lnkDateDuration" data-toggle="modal" data-target="#divCommonModalPlaceHolder"><i class="fa fa-calendar"></i>Date Duration</a>
                    </li>*@
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Logout", "Login")">
                    <i class="fa fa-power-off"></i>
                    <span class="sr-only">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>