<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DashBoard</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    @Styles.Render(BundleConfig.GetStylesBundlePath(ViewData["Controller_Name"].ToString()).ToArray())
</head>
<body>
    @Html.Partial("_Header")
    <div id="wrapper">
        @Html.Partial("_LeftPannel")
        <div class="page-content right-sidebar-page clearfix collapsed-sidebar">
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="divCommonModalPlaceHolder" class="modal fade"></div>
    @Scripts.Render(BundleConfig.GetScriptsBundlePath(ViewData["Controller_Name"].ToString()).ToArray())
</body>
</html>