@model  DataModel.Modal.UserDetail
<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs collapse-sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-scrollarea">
            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
            </div>
        </div>
        <div class="side-nav">
            <ul class="nav">
                <li class="">
                    <a href="@Url.Action("", "Home")" class="active"><i class="fa fa-tachometer"></i><span class="txt">Dashboard</span></a>
                </li>
                <li class="hasSub">
                    <a href="@Url.Action("", "Conventions")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-group"></i><span class="txt">Conventions</span></a>
                </li>
                <li class="hasSub">
                    <a href="@Url.Action("", "Offices")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-bank"></i><span class="txt">Offices</span></a>
                    <ul class="sub">
                        <li class="">
                            <a href="@Url.Action("", "Targets")"><span class="txt">Targets</span></a>
                        </li>
                    </ul>
                </li>
                <li class="hasSub">
                    <a href="@Url.Action("", "Events")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-th-list"></i><span class="txt">Events</span></a>
                </li>
                @if (Model.User.Roles.Any(model => new List<int> { 1, 2 }.Contains(model.RoleId)))
                {
                    <li class="hasSub">
                        <a href="@Url.Action("", "Users")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-user"></i><span class="txt">Users</span></a>
                    </li>
                }
                <li class="hasSub">
                    <a href="@Url.Action("", "Tasks")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-tasks"></i> <span class="txt">Tasks</span></a>
                </li>
                <li class="hasSub">
                    <a href="@Url.Action("", "Audiences")" class="notExpand"><i class="icon-arrows-right sideNav-arrow"></i><i class="fa fa-group"></i> <span class="txt">Audiences</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>