@{ var visitTypes = (List<DataModel.Modal.VisitType>)ViewData["VisitTypes"]; }
@{ var events = (List<DataModel.Modal.Event>)ViewData["Events"]; }
@{ var users = (List<DataModel.Modal.UserDetail>)ViewData["FSMUsers"]; }
@{ var conventions = (List<DataModel.Modal.Convention>)ViewData["Convention"]; }
@{ var offices = (List<DataModel.Modal.Office>)ViewData["Offices"]; }
@model DataModel.Modal.Audience

<form method="post">
    <input type="hidden" id="hdnAudienceID" value="@Model.AudienceID" />
    <input type="hidden" id="hdnVisitTypeID" value="@Model.VisitType.VisitTypeId" />
    <input type="hidden" id="hdnOfficeID" value="@(Model.Office == null ? 0 : Model.Office.OfficeId)" />
    <input type="hidden" id="hdnEventID" value="@(Model.Event ==  null ? 0 : Model.Event.EventId)" />
    <input type="hidden" id="hdnConventionID" value="@(Model.Convention == null? 0 :  Model.Convention.ConventionId)" />
    <input type="hidden" id="hdnFSMID" value="@(Model.UserDetail == null ?  0 : Model.UserDetail.UserId)" />
    <input type="hidden" id="hdnBookinStatus" value="@(Model.IsBooked ?  1 : 0)" />
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Audience</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="Name">Name</label>
                        <input type="text" name="Name" class="form-control" id="txtName" value="@Model.Name" placeholder="First Name" />
                    </div>
                    <div class="col-sm-6">
                        <label for="ContactB">Contact</label>
                        <input type="text" class="form-control" name="Contact" id="txtContact" value="@Model.Contact" placeholder="Contact" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="VisitDate">Visit Date</label>
                        <input type="text" name="VisitDate" class="form-control txtVisitDate" placeholder="Select Date" value="@Model.VisitDate.ToString("MM/dd/yyyy")" />
                    </div>
                    <div class="col-sm-6">
                        <label for="SelectUserRole">Select Visti Type</label>
                        <select class="form-control" id="dwnPeopleVistiType">
                            <option value="0">Select Visit Type</option>
                            @foreach (var visitType in visitTypes)
                            {
                                <option value="@visitType.VisitTypeId">@visitType.VisitTypeName</option>
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="divOfficeList" data-id="1">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="SelectUserRole">Select Office</label>
                            <select class="form-control" id="dwnOffices">
                                <option value="0">Select Office</option>
                                @foreach (var office in offices)
                                {
                                    <option value="@office.OfficeId">@office.Name</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="divEventList divVisitTypeControl" data-id="2">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="SelectUserRole">Select Event</label>
                            <select class="form-control" id="dwnEvetns">
                                <option value="0">Select Event</option>
                                @foreach (var eventDetail in events)
                                {
                                    <option value="@eventDetail.EventId">@eventDetail.Name</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="divConventList divVisitTypeControl" data-id="3">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="SelectUserRole">Select Conventions</label>
                            <select class="form-control" id="dwnConvensions">
                                <option value="0">Select Conventions</option>
                                @foreach (var convention in conventions)
                                {
                                    <option value="@convention.ConventionId">@convention.Name</option>
                                }
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="SelectUserRole">Select FSM</label>
                        <select class="form-control" id="dwnFSMList">
                            <option value="0">Select FSM</option>
                            @foreach (var user in users)
                            {
                                <option value="@user.UserId">@user.User.UserName</option>
                            }
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="SelectUserRole">Booking Status</label>
                        <select id="dwnBookStatus" class="chosen-select form-control dwnBookStatus">
                            <option value="0">In Process</option>
                            <option value="1">Booked</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="EmailAddress">GSB Amount</label>
                        <input type="text" name="amount" class="form-control" id="txtGSBAmount" placeholder="0.00" value="@Model.GSBAmount" />
                    </div>
                    <div class="col-sm-6">
                        <label for="EmailAddress">Donation Amount</label>
                        <input type="text" name="amount" class="form-control" id="txtDonationAmount" placeholder="0.00" value="@Model.Amount" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAddUser">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>


