@{ var offices = (List<DataModel.Modal.Office>)ViewData["Offices"]; }
@{ var userID = (int)ViewData["UserID"]; }

<form action="@Url.Action("Add", "Tasks")" type="post">
    <input type="hidden" id="hdnOfficeID" />
    <input type="hidden" id="hdnUserID" />
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
                </div>
                <div class="form-group">
                    <label for="dtDueDate">Due Date</label>
                    <input type="text" class="form-control" id="datetimerange" name="datetimerange" />
                </div>
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <textarea class="form-control" rows="5" name="txtDescription" id="txtDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="SelectOffice">Select Office</label>
                    <select data-placeholder="Select User" id="dwnOffices" class="chosen-select form-control">
                        @foreach (var office in offices)
                        {
                            <optgroup label="@office.Name" id="@office.OfficeId">
                                @foreach (var user in office.UsersDetail.Where(model => model.UserId != userID && model.User.Roles.Any(roleModel => roleModel.RoleId == 4)))
                                {
                                    <option value="@user.User.UserId">@user.User.FirstName @user.User.LastName</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAddOffice">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
